@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?qqd981');
    src:  url('../fonts/icomoon.eot?qqd981#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?qqd981') format('truetype'),
    url('../fonts/icomoon.woff?qqd981') format('woff'),
    url('../fonts/icomoon.svg?qqd981#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI';
    src: url('../fonts/SegoeUI-Bold.eot');
    src: url('../fonts/SegoeUI-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SegoeUI-Bold.woff2') format('woff2'),
    url('../fonts/SegoeUI-Bold.woff') format('woff'),
    url('../fonts/SegoeUI-Bold.ttf') format('truetype'),
    url('../fonts/SegoeUI-Bold.svg#SegoeUI-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI';
    src: url('../fonts/SegoeUI-Light.eot');
    src: url('../fonts/SegoeUI-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SegoeUI-Light.woff2') format('woff2'),
    url('../fonts/SegoeUI-Light.woff') format('woff'),
    url('../fonts/SegoeUI-Light.ttf') format('truetype'),
    url('../fonts/SegoeUI-Light.svg#SegoeUI-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI';
    src: url('../fonts/SegoeUI-SemiBold.eot');
    src: url('../fonts/SegoeUI-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SegoeUI-SemiBold.woff2') format('woff2'),
    url('../fonts/SegoeUI-SemiBold.woff') format('woff'),
    url('../fonts/SegoeUI-SemiBold.ttf') format('truetype'),
    url('../fonts/SegoeUI-SemiBold.svg#SegoeUI-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI';
    src: url('../fonts/SegoeUI-Italic.eot');
    src: url('../fonts/SegoeUI-Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SegoeUI-Italic.woff2') format('woff2'),
    url('../fonts/SegoeUI-Italic.woff') format('woff'),
    url('../fonts/SegoeUI-Italic.ttf') format('truetype'),
    url('../fonts/SegoeUI-Italic.svg#SegoeUI-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Segoe UI';
    src: url('../fonts/SegoeUI.eot');
    src: url('../fonts/SegoeUI.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SegoeUI.woff2') format('woff2'),
    url('../fonts/SegoeUI.woff') format('woff'),
    url('../fonts/SegoeUI.ttf') format('truetype'),
    url('../fonts/SegoeUI.svg#SegoeUI') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-icons-40:before {
    content: "\e919";
}
.icon-icons-27:before {
    content: "\e900";
    
}
.icon-icons-04:before {
    content: "\e901";
    
}
.icon-icons-05:before {
    content: "\e902";
    
}
.icon-icons-06:before {
    content: "\e903";
    
}
.icon-icons-07:before {
    content: "\e904";
    
}
.icon-icons-08:before {
    content: "\e905";
    
}
.icon-icons-09:before {
    content: "\e906";
    
}
.icon-icons-10:before {
    content: "\e907";
    
}
.icon-icons-11:before {
    content: "\e911";
    
}
.icon-icons-12:before {
    content: "\e912";
    
}
.icon-icons-13:before {
    content: "\e913";
    
}
.icon-icons-14:before {
    content: "\e914";
    
}
.icon-icons-15:before {
    content: "\e915";
    
}
.icon-icons-16:before {
    content: "\e916";
    
}
.icon-icons-17:before {
    content: "\e917";
    
}
.icon-icons-18:before {
    content: "\e918";
    
}
.icon-icons-19:before {
    content: "\e908";
    
}
.icon-icons-20:before {
    content: "\e909";
    
}
.icon-icons-21:before {
    content: "\e90a";
    
}
.icon-icons-22:before {
    content: "\e90b";
    
}
.icon-icons-23:before {
    content: "\e90c";
    
}
.icon-icons-24:before {
    content: "\e90d";
    
}
.icon-icons-25:before {
    content: "\e90e";
    
}
.icon-icons-26:before {
    content: "\e90f";
    
}
.icon-icons-28:before {
    content: "\e910";
    
}


