
.mobilemenu__bg{
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9998;
    background-color: rgba(0,0,0,.5);
    transition-duration: .3s;
    -webkit-transition-duration: .3s;
}
.show .mobilemenu__bg{
    opacity: 1;
    visibility: visible;
    transition-duration: .3s;
    -webkit-transition-duration: .3s;

}
.mobilemenu__content{
    padding: 15px 0;
    position: fixed;
    top: 0;
    right: -320px;
    width: 260px;
    height: 100vh;
    overflow-y: auto;
    background-color: #fff;
    z-index: 9999;
    transition-duration: .3s;
    -webkit-transition-duration: .3s;
}
.show .mobilemenu__content{
    right: 0;
    transition-duration: .3s;
    -webkit-transition-duration: .3s;
}

.mobilemenu__content .header__userinfo{
    padding: 0 15px;
    margin-bottom: 15px;
}
.mobilemenu__content .manager{
    margin-top: 51px;
}

.mainsidebar__exit{
    margin-top: 10px;
}
.mainsidebar__exit .icon-icons-28{
    color: rgba(99,114,128,1);
    padding: 0 13px 0 0;
    font-size: 17px;
}
.mainsidebar__exit .value{
    font-weight: 500;
    font-size: .9em;
    line-height: 1.35;
    color: rgba(99,114,128,1);
}

.mobile__head__right{
    width: 80px;
    padding: 16px 0 32px 0;

    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}
.mobile__head__btn{
    width: 30px;
}
.mobile__head__btn span{
    height: 4px;
    background-color: #585858;
}
.mobile__head__btn{
    display:  inline-block;
    width: 27px;
    height: 26px;
    position: relative;
    cursor: pointer;
}
.mobile__head__btn span{
    display: block;
    width: 100%;
    height: 2px;
    background: #FF9700;
    position: absolute;
}
.mobile__head__btn span:nth-of-type(1){
    top: 0;
    left: 0;
}
.mobile__head__btn span:nth-of-type(2){
    top: 50%;
    transform: translatey(-50%);
    -webkit-transform: translatey(-50%);
    left: 0;
}
.mobile__head__btn span:nth-of-type(3){
    bottom: 0;
    left: 0;
}

@media screen and (max-width: 767px) {

}
@media screen and (max-width: 1024px) {

    .maincontainer{
        padding: 29px 25px 25px 25px;
    }

    .heading__block{
        flex-wrap: wrap;
    }
    .heading__block .heading__text{
        width: 100%;
    }
    .heading__actions{
        padding: 0!important;
        margin: 15px 0 0;
    }
    .heading__actions .button__group{
        flex-direction: row-reverse;
    }
    .button__group__label{
        margin-left: 0!important;
        margin-right: 20px;
    }

    .slideup__header{
        flex-wrap: wrap;
    }
    .slideup__heading{
        width: 100%;
    }
    .slideup__actions{
        width: 100%;
        margin: 20px 0 0;
    }

    .status__item{
        width: 10px;
        height: 10px;
    }
    .status__item:before{
        width: 5px;
        height: 5px;
    }

    .table__cell{
        font-size: .85em;
    }
    .lock__btn{
        font-size: 1rem;
    }
    .mail__btn, .telegram__btn{
        margin: 0 6px;
    }
    .mail__btn img, .telegram__btn img{
        width: 18px;
    }
    .del__btn{
        font-size: 1rem;
    }
}

@media screen and (max-width: 768px) {
    .header__block .container .row{
        align-items: center!important;
    }

    .header__logo{
        padding-bottom: 16px;
    }
    .header__logo img {
        width: 100%;
    }
    .header__search{
        padding-bottom: 16px;
    }
    .mobile__head__right{
        padding-bottom: 16px;
    }

    .user__metriks{
        margin: 40px 0;
    }

    .tabs{
        -webkit-flex-wrap: wrap;
        -moz-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .centeredform .formfield .label{
        text-align: left;
    }
    .centeredform .formfield .select2-container{
        width: 100%!important;
    }

    .customtable{
        margin-left: 0;
        margin-bottom: 0;
        width: 100%;
        max-width: 9999px;
    }
    .table__row td, .table__row th {
        padding: 7px 16px;
    }
    .table__row.table__head{
        display: none;
    }
    .table__row{
        display: block;
        margin: 8px 0;
    }
    .table__row td{
        display: block;
    }
    .table__row:not(.table__head):nth-of-type(odd){
        background-color: rgba(245,245,245,.5);
    }
    .table__row td.row__footer{
        text-align: center;
        width: calc(100%/3);
        display: table-cell;
    }
    .table__row td[data-name]:before{
        content: attr(data-name);
        display: inline-block;
        font-size: .9em;
        line-height: 1.35;
        margin: 0 10px 0 0;
        color: rgba(51,51,51,.5);
    }
    td.table__cell.status:before{
        margin: 0 0 10px 0;
    }
    .table__footer{
        padding: 15px 25px;
    }

}