
/* Functional styling;
 * These styles are required for noUiSlider to function.
 * You don't need to change these rules to apply your design.
 */
.noUi-target,
.noUi-target * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -ms-touch-action: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.noUi-target {
    position: relative;
}
.noUi-base {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 10;
}
.noUi-origin {
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    border-radius: 2px;
}
.noUi-handle {
    position: relative;
    z-index: 1;
}
.noUi-stacking .noUi-handle {
    /* This class is applied to the lower origin when
       its values is > 50%. */
    z-index: 10;
}
.noUi-stacking + .noUi-origin {
    /* Fix stacking order in IE7, which incorrectly
       creates a new context for the origins. */
    *z-index: -1;
}
.noUi-state-tap .noUi-origin {
    -webkit-transition: left 0.3s, top 0.3s;
    transition: left 0.3s, top 0.3s;
}
.noUi-state-drag * {
    cursor: inherit !important;
}

/* Painting and performance;
 * Browsers can paint handles in their own layer.
 */
.noUi-base {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

/* Slider size and handle placement;
 */
.noUi-horizontal {
    height: 2px;
    border-radius: 0px;
}
.noUi-horizontal .noUi-handle {
    width: 16px;
    height: 16px;
    left: -8px;
    top: -7px;
    border-radius: 50%;
    border: 1px solid rgba(74,144,226,1);
    background-color: rgba(255,255,255,1);
    position: relative;
}
.noUi-horizontal .noUi-handle:before{
    content: "";
    position: absolute;
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    background-color: rgba(74,144,226,1);
}
.noUi-vertical {
    width: 18px;
}
.noUi-vertical .noUi-handle {
    width: 28px;
    height: 34px;
    left: -6px;
    top: -17px;
}

/* Styling;
 */
.noUi-background {
    background: rgba(0,119,255,1);
}
.noUi-connect {
    background: #3f88d5;

    -webkit-transition: background 450ms;
    transition: background 450ms;
}
.noUi-target {

}
.noUi-target.noUi-connect {

}

/* Handles and cursors;
 */
.noUi-dragable {
    cursor: w-resize;
}
.noUi-vertical .noUi-dragable {
    cursor: n-resize;
}
.noUi-handle {
    border-radius: 3px;
    background: #FFF;
    cursor: default;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
}
.noUi-active {
}

/* Handle stripes;
 */
/*
.noUi-handle:before,
.noUi-handle:after {
	content: "";
	display: block;
	position: absolute;
	height: 13px;
	width: 1px;
	background: #E8E7E6;
	left: 8px;
	top: 5px;
}
.noUi-handle:after {
	left: 16px;
}
*/
/*.noUi-handle:before {
    width: 24px;
    height: 24px;
    content: "|||";
    position: absolute;
    color: #B3B3B3;
    left: 1px;
    top: 3px;
    letter-spacing: 1px;
    text-align: center;
}*/
.noUi-vertical .noUi-handle:before,
.noUi-vertical .noUi-handle:after {
    width: 14px;
    height: 1px;
    left: 6px;
    top: 14px;
}
.noUi-vertical .noUi-handle:after {
    top: 18px;
}

/* Disabled state;
 */
[disabled].noUi-connect,
[disabled] .noUi-connect {
    background: #B8B8B8;
}
[disabled] .noUi-handle {
    cursor: not-allowed;
}