@import 'font.css?v=4';

body{
    margin: 0;
    padding: 0;
    font-size: 1em;
    min-width: 320px;
    font-family: 'Segoe UI';
    background-color: #F8F8F8;
}
input,
button,
textarea{
    outline: none!important;
    font-size: 1em;
    font-family: 'Segoe UI';
    color: rgba(51,51,51,1);
}
input::-webkit-input-placeholder {
    color: rgba(191,192,192,1);
}
input::-moz-placeholder {
    color: rgba(191,192,192,1);
}
input:-ms-input-placeholder {
    color: rgba(191,192,192,1);
}
input:-moz-placeholder {
    color: rgba(191,192,192,1);
}
a,
a:hover,
a:focus{
    color: inherit;
    text-decoration: none;
}
@media (min-width: 1200px){
    .container {
        width: 1200px;
    }
}

.hidden{
    display: none;
}

[data-popup]{
    cursor: pointer;
}

.button{
    border: none;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;

    display: -webkit-inline-flex;
    display: -moz-inline-flex;
    display: -ms-inline-flex;
    display: inline-flex;
    -webkit-flex-wrap: nowrap;
    -moz-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}
.button.micro{
    font-size: .75em;
    line-height: 1.33;
    border-radius: 20px;
    padding: 5px 11px;
    background-color: rgba(0,119,255,1);
}
.button.mini{
    font-size: .9em;
    line-height: 1.35;
    padding: 5px 20px;
}
.button.white{
    color: rgba(99,114,128,1)!important;
    background-color: #fff;
    border: 1px solid rgba(153,153,153,0.5);
}
.button.white:hover{
    background-color: rgba(218,221,232,0.2);
}
.button.white:active{
    background-color: rgba(218,221,232,0.3);
}
.button.blue{
    color: #fff!important;
    background-color: rgba(0,119,255,1);
}
.button.blue:hover{
    background-color: rgba(51,146,255,1);
}
.button.blue:active{
    background-color: rgba(0,107,230,1);
}
.button.colorblue{
    color: #0077FF!important;
}
.button span{
    display: inline-block;
}
.button [class^="icon-"]{
    font-size: 1em;
    margin: 0 9px 0 0;
}
.button .value{
    font-size: .9em;
    line-height: 1.35;
}
.button + .button{
    margin-left: 8px;
}

.button__group{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -moz-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
}
.button__group__label{
    display: inline-block;
    font-size: .75em;
    line-height: 1.33;
    color: rgba(51,51,51,.5);
}
.button__group__label:last-child{
    margin-left: 20px;
}
.button__group__label:first-child{
    margin-right: 20px;
}
.button__group .button{
    margin: 0 10px;
}
.button__group .button:first-of-type{
    margin-left: 0;
}
.button__group .button:not(.active){
    background-color: transparent!important;
    color: rgba(51,51,51,.5)!important;
}
.heading__actions .button__group{
    display: -webkit-inline-flex;
    display: -moz-inline-flex;
    display: -ms-inline-flex;
    display: inline-flex;
    -webkit-flex-wrap: nowrap;
    -moz-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

.block__heading{
    font-size: 1em;
    line-height: 1.5;
    color: rgba(51,51,51,1);
    margin: 0 0 11px;
    font-weight: 600;
}

/*Header*/

.header__logo{
    padding-top: 16px;
    padding-bottom: 32px;
}
.header__logo img{
    width: 65%;
}
.header__search{
    padding: 16px 0 32px 0;
}
.header__search form{
    position: relative;
    margin: 0;
}
.header__search input{
    padding: 0 10px;
    display: block;
    height: 32px;
    border: 1px solid rgba(153,153,153,.6);
    border-radius: 4px;
    box-shadow: none;
    width: 100%;
    font-size: .9em;
}
.header__search form button{
    position: absolute;
    right: 0;
    top: 50%;
    background-color: transparent;
    font-size: 12px;
    padding: 12px;
    color: rgba(153,153,153,1);
    border: none;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    cursor: pointer;
}
.header__userinfo{
    padding-top: 16px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 16px;
    position: relative;
}
.header__userinfo .textinfo .name{
    font-size: .9em;
    font-weight: 600;
    color: rgba(51,51,51,1);
    line-height: 1.35;
}
.header__userinfo .textinfo .role{
    font-size: .75em;
    line-height: 1.33;
    color: rgba(99,114,128,1);
}
.header__userinfo .photo{
    width: 36px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
.header__userinfo .photo:before{
    content: "";
    display: block;
    padding-top: 100%;
}
.header__userinfo .photo:after{

    content: "";
    width: 10px;
    height: 10px;
    display: block;
    top: calc(100% + 10px);
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    -webkit-transform: translateX(-50%) rotate(45deg);
    opacity: 0;
    visibility: hidden;
    position: absolute;
    background-color: #fff;
    transition-duration: .3s;
    -webkit-transition-duration: .3s;
}
.header__userinfo:hover .photo:after{
    opacity: 1;
    visibility: visible;
    transition-duration: .3s;
    -webkit-transition-duration: .3s;
}
.header__userinfo .photo a{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.header__userinfo .additional__info{
    opacity: 0;
    visibility: hidden;
    z-index: 9994;
    position: absolute;
    top: 100%;
    border-radius: 4px;
    padding: 13px;
    box-sizing: border-box;
    background-color: rgba(255,255,255,1);
    box-shadow: 0 6px 13px 0 rgba(0,0,0,0.09);
    transition-duration: .3s;
    -webkit-transition-duration: .3s;
}
.header__userinfo:hover .additional__info{
    opacity: 1;
    visibility: visible;
    transition-duration: .3s;
    -webkit-transition-duration: .3s;
}
.header__userinfo .additional__info .name{
    font-weight: bold;
    font-size: 1em;
    line-height: 1.3125;
    color: rgba(51,51,51,1);
}
.header__userinfo .additional__info .fullrole{
    font-size: .75em;
    line-height: 1.33;
    color: rgba(99,114,128,1);
}
.header__userinfo .additional__info .exit{
    margin: 11px 0 0;
    border-top: 1px solid rgba(151,151,151,.2);
    padding: 10px 0 0;
    color: rgba(51,51,51,1);
    font-size: .75em;
    line-height: 1.33;
}
.header__userinfo .additional__info .exit span{
    margin: 0 8px 0 0;
    font-size: .9rem;
    color: rgba(99,114,128,1);
    vertical-align: middle;
}

    /*Header*/

/*Main menu*/

.mainmenu{

}
.mainmenu a{
    display: block;
    padding: 0 9px;
    cursor: pointer;
    position: relative;
    align-items: center;
}
.mainmenu a:not(.disabled):hover{
    border-radius: 4px 0 0 4px;
    background-color: rgba(191,192,192,0.1);
}
.mainmenu a:not(.disabled):hover:before{
    content: "";
    right: 0;
    top: 0;
    width: 2px;
    height: 100%;
    position: absolute;
    background-color: rgba(0,119,255,1);
}
.mainmenu a.disabled{
    opacity: .4;
}
.mainmenu a [class^="icon-"]{
    font-size: 14px;
    margin: 0 14px 0 0;
    width: 20px;
    text-align: center;
    color: rgba(0,119,255,.8);
}
.mainmenu a .icon-icons-21{
    font-size: 10px;
}
.mainmenu a:hover [class^="icon-"]{
    color: rgba(0,119,255,1);
}
.mainmenu a .label{
    padding: 10px 0;
    display: block;
    font-weight: 600;
    color: rgba(51,51,51,1);
    font-size: .85em;
    line-height: 1.35em;
}

.mainsidebar__contacts{
    margin-top: 10px;
}
.mainsidebar__contacts:before{
    content: "";
    display: block;
    width: 100%;
    border-top: 1px solid rgba(151,151,151,.2);
    margin-bottom: 18px;
}
.mainsidebar__contacts .icon-icons-17{
    color: rgba(99,114,128,1);
    padding: 0 13px 0 0;
    font-size: 17px;
}
.mainsidebar__contacts .label{
    display: block;
    height: 17px;
    color: rgba(99,114,128,1);
    font-size: .75em;
}
.mainsidebar__contacts .value{
    font-weight: 700;
    font-size: .9em;
    line-height: 1.35;
    margin-top: 6px;
    color: rgba(99,114,128,1);
}

.manager{
    margin-top: 141px;
    width: 100%;
    padding-bottom: 30px;
}
.manager__heading{
    font-size: .9em;
    line-height: 1.35;
    font-weight: 600;
    color: rgba(51,51,51,1);
}
.manager__photo{
    width: 54px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 12px 0 3px;
}
.manager__photo:before{
    content:"";
    display: block;
    padding-top: 100%;
}
.manager__name{
    font-size: .9em;
    line-height: 1.35;
    color: rgba(51,51,51,1);
}
.manager__role{
    line-height: 1.14;
    font-size: .75em;
    color: rgba(99,114,128,1);
    margin: 0 0 16px;
}
.manager__phones a{
    line-height: 1.33;
    font-size: .75em;
    color: rgba(51,51,51,1);
    display: block;
}
.manager__mail{
    margin: 8px 0 0;
}
.manager__mail a{
    line-height: 1.33;
    font-size: .75em;
    color: rgba(51,51,51,1);
    display: block;
}
.manager__telegram{
    margin: 8px 0 0;
}
.manager__telegram a{
    line-height: 1.33;
    font-size: .75em;
    color: rgba(51,51,51,1);
    display: block;
}

/*Main menu*/

/*Maincontainer*/

.maincontainer{
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.09);
    padding: 29px 25px 25px 50px;
    box-sizing: border-box;
    margin: 0 0 15px;
    position: relative;
}

/*Main Container*/

/*Heading Block*/

.heading__block{
    margin: 0 0 25px;
}
.heading__block .heading__text{
    font-size: 2em;
    font-weight: 900;
    line-height: 1.34;
    color: rgba(51,51,51,1);
}
.align-items-center .heading__actions{
    padding-top: 10px;
}
.heading__clear{
    width: 100%;
}
.heading__back{
    margin: 7px 0 0;
}
.heading__back a{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -moz-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    box-sizing: border-box;
    align-items: center;
}
.heading__back span.icon{
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    height: 24px;
    width: 24px;
    color: rgba(99,114,128,1);
    line-height: 24px;
    font-size: 10px;
    background-color: rgba(218,221,232,.3);
}
.heading__back span.value{
    font-size: .85em;
    line-height: 1.35;
    margin: 0 0 0 10px;
    color: rgba(51,51,51,.5);
}

/*Heading Block*/

/*Table*/

.customtable{
    margin-left: -16px;
    margin-bottom: 0;
    width: calc(100% + 16px);
    max-width: 9999px;
}
.customtable ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.table__row{
    border: none;
    vertical-align: middle;
}
.table__row:not(.table__head):nth-of-type(odd) td{
    background-color: rgba(245,245,245,.5);
}
.table__row:not(.table__head):hover{
    box-shadow: 0 2px 27px 0 rgba(0,0,0,0.1);
    border-radius: 4px;
    background-color: transparent;
}
.table__row .sort{
    cursor: pointer;
}
.table__row > td:first-child{
    border-radius: 4px 0 0 4px;
}
.table__row > td:last-child{
    border-radius: 0 4px 4px 0;
}
.table__row .sort:after{
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    font-size: 4px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 0 4px;
    content: "\e901";
    opacity: 0;
    color: rgba(99,114,128,1);
}
.table__row .sort:not(.asc):not(.desc):hover:after{
    content: "\e901";
    opacity: 1;
}
.table__row .sort.asc:after{
    content: "\e904";
    opacity: 1;
}
.table__row .sort.desc:after{
    content: "\e901";
    opacity: 1;
}
.table__row.table__head .table__cell{
    color: rgba(99,114,128,1);
    font-size: .625em;
    line-height: 1.4;
}
.table__row td,
.table__row th{
    padding: 12px 16px;
}
.table__cell{
    border: none!important;
    font-size: .9em;
    vertical-align: middle!important;
}
.mini .table__cell{
    font-size: .75em;
}
.table__cell.center{
    text-align: center;
}
.lock__btn{
    cursor: pointer;
    font-size: 1.1rem;

    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
}
.lock__btn:before{
    content: "\e915";
    color: rgba(45,199,109,1);
}
.table__row.lock .lock__btn:before{
    content: "\e914";
    color: rgba(255,112,82,1);
}

.view__btn{
    font-size: 1em;
    cursor: pointer;
    color: rgba(0,119,255,1)!important;
}

.mail__btn,
.telegram__btn{
    display: inline-block;
    margin: 0 12px;
    cursor: pointer;
}
.mail__btn img,
.telegram__btn img{
    width: 24px;
}
.del__btn{
    cursor: pointer;
    color: rgba(99,114,128,1);
    font-size: 1.1rem;
}
.table__man__item{

}
.table__row.lock .lock-depend{
    opacity: .5;
}
.table__man__item div{
    vertical-align: middle;
}
.table__man__item .photo{
    width: 30px;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    margin: 0 15px 0 0;
    position: relative;
}
.table__man__item .photo:before{
    content:"";
    display: block;
    padding-top: 100%;
}
.table__man__item .photo:after{
    content: "";
    position: absolute;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    border: 2px solid rgba(255,255,255,1);
    bottom: 0;
    right: 0;
}
.table__man__item .photo.online:after{
    background-color: rgba(45,199,109,1);
}
.table__man__item .photo.offline:after{
    background-color: rgba(255,112,82,1);
}
.table__man__item .name{
    display: inline-block;
}
.table__indicator {
    display: block;
    height: 16px;
    width: 16px;
    border-radius: 2px;
}
.table__indicator.red{
    background-color: rgba(255,110,79,1);
}
.table__indicator.yellow{
    background-color: rgba(255,200,0,1);
}
.table__indicator.pink{
    background-color: rgba(255,164,190,1);
}
.table__indicator.blue{
    background-color: rgba(0,119,255,1);
}
.table__indicator.orange{
    background-color: rgba(255,201,111,1);
}

.table__checker{
    display: block;
    height: 16px;
    width: 16px;
    position: relative;
    margin: 0;
    cursor: pointer;
}
.table__checker input{
    opacity: 0;
    visibility: hidden;
    position: absolute;
}
.table__checker__fake{
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 2px;
    background-color: #fff;
    border: 1px solid rgba(191,192,192,1);
}
.table__checker input:checked + .table__checker__fake{
    border: 1px solid rgba(0,119,255,1);
    background-image: url(../images/checked.svg);
    background-position: center;
    background-size: 75%;
    background-repeat: no-repeat;
}

.table__footer{
    background-color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 15px 46px;
    border-top: 1px solid rgba(218,221,232,1);
}
.table__total__price{
    color: rgba(51,51,51,1);
    font-size: 1em;
    line-height: 1.5;
    font-weight: 600;
}

/*Table*/

/*Enter Form*/

.enterform__block{
    background-color: #fff;
}
.enterform__block .container .row{
    height: 100vh;
}
.enterform{
    padding-top: 25px;
    padding-bottom: 25px;
}
.enterform__logo{
    margin: 0 auto 20px;
}
.enterform__heading{
    font-size: 2em;
    font-weight: 900;
    line-height: 1.34;
    color: rgba(51,51,51,1);
    text-align: center;
    margin: 0 0 10px;
}
.enterform__text{
    margin: 0 auto;
}
.enterform__text .image{
    margin: 0 20px 0 0;
}
.enterform__text .text{
    font-size: .9em;
    line-height: 1.35;
    color: rgba(51,51,51,1);
}
.enterform__form{
    margin: 25px auto;
}
.formfield{
    z-index: 2;
    position: relative;
    margin-top: 16px;
}
.enterform__form .buttonfield{
    margin: 24px 0 0;
    text-align: center;
}
.formfield .switcher{
    padding: 1px;
    margin: 0 auto 27px;
    border-radius: 6px;
    border: 1px solid rgba(153,153,153,0.5);
}
.formfield .switcher label{
    position: relative;
    margin: 0;
    cursor: pointer;
}
.formfield .switcher label input{
    position: absolute;
    opacity: 0;
    visibility: hidden;
}
.formfield .switcher label span{
    font-size: .75em;
    line-height: 1.33;
    border-radius: 5px;
    padding: 5px 19px 7px;
    display: inline-block;
    color: rgba(99,114,128,1);
}
.formfield .switcher label input:checked + span{
    color: #fff;
    background-color: rgba(99,114,128,.5);
}
.formfield input{
    width: 100%;
    display: inline-block;
    border: 1px solid rgba(191,191,191,.6);
    border-radius: 4px;
    padding: 6px 16px;
    font-size: .9em;
    line-height: 1.42;
    vertical-align: middle;
}
.formfield input.short{
    width: 152px;
}
.formfield input + .button{
    font-size: .75em;
    line-height: 1.33;
    padding: 9px 20px;
    margin: 0 0 0 8px;
}
.formfield .label{
    font-size: .75em;
    line-height: 1.33;
    margin: 0 0 5px;
    color: rgba(99,114,128,1);
}
.formfield .input{
    position: relative;
}
.formfield .input.middle{
    width: 180px;
}
.formfield .input.error:after{
    content:"";
    position: absolute;
    display: inline-block;
    margin: 0 0 0 8px;
    width: 16px;
    height: 16px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    border-radius: 50%;
    border: 4px solid rgb(251, 220, 213);
    background-color: rgba(255,112,82,1);
}
.formfield .input__reference{
    right: -22px;
    position: absolute;
    display: inline-block;
    margin: 0 0 0 8px;
    width: 14px;
    height: 14px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    border-radius: 50%;
    border: 1px solid rgba(0,119,255,1);
}
.formfield .input__reference:before{
    content:"?";
    display: block;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    color: rgba(0,119,255,1);
}
.formfield .input__reference span{
    opacity: 0;
    visibility: hidden;
    display: block;
    position: absolute;
    left: calc(100% + 12px);
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    box-shadow: 0 5px 13px 0 rgba(0,0,0,0.09);
    background-color: rgba(255,255,255,1);
    font-size: .75rem;
    line-height: 1.33;
    border-radius: 4px;
}
.formfield .input__reference:hover span{
    opacity: 1;
    width: 208px;
    visibility: visible;
    padding: 10px 7px 10px 15px;
}
.formfield .input__reference:hover span:before{
    content: "";
    width: 10px;
    height: 10px;
    display: block;
    left: -4px;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    -webkit-transform: translateY(-50%) rotate(45deg);
    position: absolute;
    background-color: #fff;
}
.formfield .input__slider{
    position: absolute;
    bottom: 0;
    left: 4px;
    right: 4px;
    box-sizing: border-box;
}
.formfield .input__wrapper{
    width: 100%;
    display: inline-block;
    border: 1px solid rgba(191,191,191,.6);
    border-radius: 4px;
    padding: 6px 16px;
    font-size: .9em;
    line-height: 1.42;
    vertical-align: middle;
}
.formfield .input__wrapper.short{
    width: 152px;
}
.formfield .input__wrapper input{
    width: auto;
    border: none;
    border-radius: 0;
    padding: 0;
    font-size: 1em;
    line-height: 1;
    vertical-align: inherit;
}
.formfield .input__caption{
    display: inline-block;
    margin: 0 0 0 1px;
    vertical-align: middle;
}
.formfield .input__caption:before{
    content: attr(data-value);
}
.centeredform .formfield .label{
    text-align: right;
    margin: 0;
    padding-top: 4px;
    padding-bottom: 8px;
    font-size: .9em;
    line-height: 1.42;
}
.formfield-control{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    color: rgba(99,114,128,1);
    font-size: 1em;
    padding: 0 7px;
    cursor: pointer;
    line-height: 1;
}
.formfield input + .formfield-control:before{
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
}
.linkfield{
    margin-top: 9px;
    color: rgba(147,150,153,1);
    font-size: .75em;
    line-height: 1.33;
    text-align: right;
}
.formfooter{
    z-index: 1;
    position: relative;
}
.formfooter img{
    width: 100%;
    margin-top: -35px;
}

/*Text Field*/



/*Text Field*/

/*Password Field*/

.passwordfield input[type=password] + .formfield-control:before{
    content: "\e907";
}
.passwordfield input[type=text] + .formfield-control:before{
    content: "\e911";
}

/*Password Field*/

/*Enter Form*/

/*Tech Block*/

.techsupp__block{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 21px 0;
}
.techsupp__block a{
    font-size: .75em;
    line-height: 1.33;
    color: rgba(147,150,153,1);
}

/*Tech Block*/

/*Slideup Block*/

.slideup__item{
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(218,221,232,1);
}
.slideup__item:last-of-type{
    border-bottom: none;
}
.slideup__header{
    padding: 35px 0;
}
.slideup__heading{
    align-items: center;
}
.slideup__btn{
    padding: 0 12px 0 0;
}
.slideup__btn a{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: block;
    background-color: rgba(218,221,232,.3);
    position: relative;
    cursor: pointer;
}
.slideup__btn a span{
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    font-size: 5px;
    line-height: 24px;
    color: rgba(99,114,128,1);

    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
}
.slideup__btn a span:before{
    content: "\e901";
}
.open .slideup__btn a span:before{
    content: "\e904";
}
.slideup__heading__text{
    font-size: 1em;
    line-height: 1.5em;
    font-weight: 600;
    color: rgba(51,51,51,1);
}
.count__caption{
    margin: 0 0 0 16px;
    font-size: 1em;
    line-height: 1.3125;
    border-radius: 50px;
    padding: 3px 12px;
    font-weight: 600;
    color: rgba(0,119,255,1);
    background-color: rgba(230,243,255,1);
}
.slideup__actions .select2-container{
    margin: 0 7px 0 0;
}
.slideup__price{
    width: 200px;
    font-weight: 600;
    font-size: 1.5em;
    line-height: 1.3;
    color: rgba(99,114,128,1);
    text-align: right;
}
.slideup__body{
    height: 0;
    padding: 0;
    overflow: hidden;
}
.open .slideup__body{
    height: auto;
    padding-bottom: 47px;
}
.slideup__body__inner.row{
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 32px;
}

/*Slideup Block*/

/*Select*/

.slideup__actions .select2-container{
    width: auto!important;
}
.select2-container{
    max-width: 100%!important;
}
.short .select2-container{
    width: 152px!important;
}
.select2-container--default .select2-selection--single{
    border: 1px solid rgba(191,191,191,.6);
    border-radius: 4px;
    outline: none;
    height: 32px;
}
.select2-container--default.select2-container--open.select2-container--below .select2-selection--single,
.select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple{
    border-radius: 4px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
    height: 30px;
    font-size: .85em;
    color: rgba(51,51,51,1);
    line-height: 30px;
    padding-left: 16px;
    padding-right: 35px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
    height: 30px;
    width: 30px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b{
    position: static;
    border: none;
    color: rgba(99,114,128,1);
    font-size: 5px;
    margin: 0;
    width: 30px;
    left: 0;
    text-align: center;
    display: block;
    height: 100%;
    line-height: 30px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b:before{
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    content: "\e901";
}
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b:before{
    content: "\e904";
}
.select2-container--open .select2-dropdown--below{
    margin-top: 2px;
    border: none;
    background-color: rgba(255,255,255,1);
    box-shadow: 0 5px 13px 0 rgba(0,0,0,0.09);
    border-radius: 4px;
    overflow: hidden;
}
.select2-results__option{
    font-size: .85em;
    line-height: 1.42;
    color: rgba(99,114,128,1)!important;
    padding: 7px 16px;
}
.select2-container--default .select2-results__option--highlighted[aria-selected]{
    background-color: rgba(245,245,245,.5);
    color: rgba(99,114,128,1)!important;
}
.select2-container--default .select2-results__option[aria-selected=true]{
    background-color: rgba(245,245,245,.5);
    color: rgba(99,114,128,1)!important;
}

/*Select*/

/*Status block*/

.status__block{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -moz-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    box-sizing: border-box;
    align-items: center;
}
.status__group{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -moz-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    box-sizing: border-box;
    align-items: center;
}
.status__group{
    margin-right: 30px;
}
.status__group:last-of-type{
    margin-right: 0;
}
.status__item{
    position: relative;
    margin: 0 5px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
}
.status__group .status__item:first-child{
    margin-left: 0;
}
.status__group .status__item:last-child{
    margin-right: 0;
}
.status__item:before{
    content:"";
    width: 8px;
    height: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    background-color: rgba(218,221,232,1);
    border-radius: 50%;
}
.status__item span{
    opacity: 0;
    visibility: hidden;
    display: block;
    position: absolute;
    bottom: calc(100% + 9px);
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    box-shadow: 0 5px 13px 0 rgba(0,0,0,0.09);
    background-color: rgba(255,255,255,1);
    font-size: .75rem;
    line-height: 1.33;
    border-radius: 4px;
}
.status__item span:before{
    content: "";
    width: 10px;
    height: 10px;
    display: block;
    bottom: -4px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    -webkit-transform: translateX(-50%) rotate(45deg);
    position: absolute;
    background-color: #fff;
}
.status__item:hover span{
    opacity: 1;
    width: 208px;
    visibility: visible;
    padding: 10px 7px 10px 15px;
}
.status__item.green{
    background-color: rgba(45,199,109,0.22);
}
.status__item.green:before{
    background-color: rgba(45,199,109,1);
}
.status__item.red{
    background-color: rgba(255,112,82,0.22);
}
.status__item.red:before{
    background-color: rgba(255,112,82,1);
}

/*Status block*/

/*Request Detail*/

.request__detail__wrapper .popup__wrapper{
    max-width: 664px;
    box-shadow: 0 30px 40px -10px rgba(68,69,82,0.34);
    overflow: visible;
}
.request__steps{
    overflow: hidden;
    padding: 34px 0 48px;
}
.request__step{
    flex-grow: 1;
}
.request__step .status{
    text-align: center;
    position: relative;
    height: 22px;
}
.request__step .status:before{
    content: "";
    height: 4px;
    position: absolute;
    width: 50%;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    background-color: #DADDE8;
    z-index: 1;
}
.request__step:first-of-type .status:before{
    border-radius: 3px 0 0 3px;
}
.request__step .status:after{
    content: "";
    height: 4px;
    position: absolute;
    width: 50%;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    background-color: #DADDE8;
    z-index: 1;
}
.request__step:last-of-type .status:after{
    border-radius: 0 3px 3px 0;
}
.request__step.accept .status:before{
    background-color: rgba(45,199,109,1);
}
.request__step.accept .status:after{
    background-color: rgba(45,199,109,1);
}
.request__step.current .status:before{
    background-color: rgba(45,199,109,1);
}
.request__step .status span{
    position: relative;
    z-index: 2;
    display: inline-block;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 4px solid #fff;
    background: #F7F8FA;
}
.request__step.accept .status span{
    background-color: rgba(209,243,223,1);
}
.request__step.accept .status span:before{
    background-color: rgba(45,199,109,1);
}
.request__step.current .status span{
    background-color: rgba(253,236,207,1);
}
.request__step.current .status span:before{
    background-color: rgba(245,166,35,1);
}
.request__step .status span:before{
    content:"";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 8px;
    height: 8px;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    background-color: #DADDE8;
    border-radius: 50%;
}
.request__step .name{
    color: rgba(99,114,128,1);
    font-size: .625em;
    line-height: 1.4;
    text-align: center;
    margin: 8px auto 0;
    width: 80px;
}
.request__detail__item{
    padding-top: 11px;
    padding-bottom: 11px;
    align-items: flex-start;
}
.request__detail__item .label{
    font-size: .75em;
    line-height: 1.6;
    color: rgba(99,114,128,1);
}
.request__detail__item .value{
    font-size: .9em;
    line-height: 1.35;
    color: rgba(51,51,51,1);
}
.request__detail__item .value .detail{
    font-size: .625em;
    margin: 0 0 0 8px;
    color: rgba(0,119,255,1);
}
.request__detail__item .value .status{
    display: inline-block;
    color: #fff;
    font-size: .75em;
    line-height: 1.33;
    border-radius: 8px;
    padding: 3px 8px;
    margin: 9px 9px 0 0;
    background-color: rgba(0,119,255,1);
}
.request__detail__item .value .reference{
    position: relative;
    display: inline-block;
    margin: 0 0 0 8px;
    z-index: 1;
    padding: 0 8px 0 0;
}
.request__detail__item .value .reference:before{
    content:"?";
    display: block;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    color: rgba(0,119,255,1);
    position: relative;
    z-index: 1;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 1px solid rgba(0,119,255,1);
}
.request__detail__item .value .reference span{
    opacity: 0;
    visibility: hidden;
    display: block;
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    box-shadow: 0 5px 13px 0 rgba(0,0,0,0.09);
    background-color: rgba(255,255,255,1);
    font-size: .75rem;
    line-height: 1.33;
    border-radius: 4px;
    z-index: 2;
}
.request__detail__item .value .reference:hover span{
    opacity: 1;
    width: 208px;
    visibility: visible;
    padding: 10px 7px 10px 15px;
}
.request__detail__item .value .reference:hover span:before{
    content: "";
    width: 10px;
    height: 10px;
    display: block;
    left: -4px;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    -webkit-transform: translateY(-50%) rotate(45deg);
    position: absolute;
    background-color: #fff;
}
.request__detail__item .value .reference a{
    display: block;
    color: rgba(0,119,255,1);
    line-height: 2;
    cursor: pointer;
}
.request__footer{
    text-align: center;
    padding: 9px 0 18px;
    border-radius: 0 0 10px 10px;
    margin: 50px -31px -37px -31px;
    background-color: rgba(218,221,232,0.4);
}
.request__footer__heading{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.25em;
    line-height: 1.35;
    color: rgba(51,51,51,1);
    margin: 0 0 7px;
}
.request__footer__text{
    font-weight: bold;
    font-size: .75em;
    line-height: 1.33;
    color: rgba(45,199,109,1);
}
.request__footer__text img{
    width: 11px;
    margin: 0 9px 0 0;
    vertical-align: middle;
}
.request__footer__text span{
    vertical-align: middle;
}

/*Request Detail*/

/*Tabs*/

.tabs{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -moz-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    box-sizing: border-box;
    align-items: center;
    border-bottom: 1px solid rgba(218,221,232,1);
}
.tabs__item{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -moz-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    box-sizing: border-box;
    align-items: center;
    cursor: pointer;
    position: relative;

    color: rgba(51,51,51,1);
    padding: 11px 0;
    margin: 0 44px 0 0;
}
.tabs__item:last-child{
    margin-right: 0;
}
.tabs__item.active:before{
    content:"";
    display: block;
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: rgba(0,119,255,1);
}
.tabs__item .count__caption{
    line-height: 1.4;
    font-size: .625em;
    padding: 2px 9px;
    margin: 0 10px 0 0;
    color: rgba(51,51,51,0.5);
    background-color: rgba(218,221,232,0.5);
}
.tabs__item.active .count__caption{
    color: rgba(0,119,255,1);

}
.tabs__item .value{
    color: rgba(51,51,51,.5);
    font-size: .85em;
    line-height: 1.35;
}
.tabs__item.active .value{
    font-weight: 600;
    color: rgba(51,51,51,1);
}

.tabs__content{
    display: none;
}
.tabs__content.active{
    display: block;
}

/*Tabs*/

/*User*/

.user__goedit{
    color: rgba(99,114,128,1);
}
.user__goedit .icon{
    font-size: 15px;
    vertical-align: middle;
}
.user__goedit .value{
    font-size: .85em;
    line-height: 1.35;
    margin: 0 0 0 6px;
    vertical-align: middle;
}
.user__maininfo{
    align-items: flex-start;
}
.user__maininfo .photo{
    width: 142px;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.user__maininfo .photo:before{
    content:"";
    display: block;
    padding-top: 100%;
}
.user__maininfo .content{
    margin: 0 0 0 30px;
}
.user__maininfo .content .name{
    color: rgba(51,51,51,1);
    font-size: 1.125em;
    font-weight: 600;
    margin: 13px 0 6px;
    line-height: 1.33;
}
.user__maininfo .content .role{
    color: rgba(99,114,128,1);
    font-size: .75em;
    line-height: 1.33;
}
.user__maininfo .content .city{
    color: rgba(99,114,128,1);
    font-size: .75em;
    line-height: 1.33;
}
.user__contacts{
    margin: 35px 0 0;
}
.user__contacts__item{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -moz-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    box-sizing: border-box;
    align-items: flex-start;

    margin: 0 0 12px;
}
.user__contacts__item .icon{
    width: 24px;
    margin: 0 14px 0 0;
}
.user__contacts__item .value{

}
.user__contacts__item .value a{
    display: block;
    line-height: 24px;
    font-size: .85em;
}
.user__metriks{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-items: flex-start;
    justify-content: space-between;
}
.user__metrik{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -moz-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    box-sizing: border-box;
    align-items: center;
    border-radius: 4px;

    padding: 14px 23px;
    box-sizing: border-box;
    width: calc(50% - 4px);
    margin: 0 0 8px;
    background-color: rgba(255,255,255,1);
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.09);
}
.user__metrik .count{
    color: rgba(191,192,192,1);
    font-size: 2em;
    line-height: 1.34;
    margin: 0 13px 0 0;
}
.user__metrik .value{
    font-size: .75em;
    line-height: 1.33;
    color: rgba(99,114,128,1);
}

.user__heading{
    font-size: .9em;
    font-weight: 600;
    line-height: 1.71;
    color: rgba(51,51,51,1);
    margin: 0 0 11px;
}
.user__password{
    margin: 34px 0 0;
}

/*User*/

/*error*/

.error__block .container{
    padding-top: 103px;
}
.error__code{
    text-align: center;
    line-height: 1;
    font-weight: bold;
    font-size: 16.875em;
    color: rgba(218,221,232,1);

}
.error__code span{
    display: inline-block;
    line-height: 1;

    position: relative;
}
.error__code span:before{
    content:"";
    display: block;
    position: absolute;
    left: 25%;
    bottom: 0;
    width: 100px;
    height: 100%;
    background-image: url(../images/man_big.png);
    background-position: 25% bottom;
    background-repeat: no-repeat;
}
.error__text{
    text-align: center;
    max-width: 497px;
    margin: 23px auto 56px;
    color: rgba(99,114,128,1);
}
.error__btn{
    text-align: center;
}

/*error*/

/*popup*/

.popup__block{
    overflow: auto;
    position: fixed;
    top: -9999px;
    left: 0;
    background-color: rgba(51,51,51,0.7);
    width: 100%;
    height: 100vh;
    transition-duration: .5s;
    -webkit-transition-duration: .5s;
    z-index: 9999;
}
.popup__block.active{
    top: 0;
    transition-duration: .5s;
    -webkit-transition-duration: .5s;
}
.popup__block .container{
    min-height: 100%;
    align-items: center;
    justify-content: center;
    position: static;
    padding-top: 25px;
    padding-bottom: 25px;
}
.popup__wrapper{
    position: relative;
    width: 100%;
    max-width: 756px;
    padding: 37px 31px;
    border-radius: 5px;
    background-color: #fff;
    overflow: hidden;
}
.popup__wrapper.mini{
    max-width: 311px;
}
.popup__wrapper.middle{
    max-width: 600px;
}
.popup__close{
    position: absolute;
    top: 18px;
    right: 19px;
    font-size: 1.125em;
    cursor: pointer;
}
.popup__heading{
    font-size: 1.125em;
    line-height: 1.33;
    color: rgba(51,51,51,1);
    font-weight: 600;
}
.popup__heading img{
    width: 135px;
    margin: 0 0 31px;
}
.popup__heading.center{
    text-align: center;
}
.popup__block .tabs{
    margin: 20px 0 0;
}
.popup__block .tabs__item{
    margin: 0 25px 0 0;
}
.popup__text{
    margin: 19px 0 36px;
    color: rgba(0,0,0,.7);
    line-height: 1.625;
}
.popup__block .formfield{
    margin: 0 0 17px;
}
.popup__block .formfield:last-of-type{
    margin: 0;
}
.popup__block .formfield button{
    width: auto;
    margin: 23px 0 0;
    border-radius: 0;
}
.popup__action__btn{
    margin: 27px 0 0;
    text-align: center;
}
.popup__bglay{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: absolute;
}
.popup__block .table__wrapper{
    margin: 20px 0 0;
}
.popup__block .table__wrapper .table__footer{
    padding: 12px 32px;
}
.popup__block .table__wrapper .scrollblock{
    max-height: 600px;
    overflow-y: auto;
    margin-right: -22px;
}
.popup__block .mCSB_inside > .mCSB_container{
    margin-right: 22px;
}
.popup__block .mCSB_scrollTools .mCSB_draggerRail{
    width: 5px;
    background-color: rgba(218,221,232,.3);
}
.popup__block .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
    width: 3px;
    background-color: rgba(218,221,232,1);
}

/*popup*/

/*form*/

.form__step{
    display: none;
}
.form__step.active{
    display: block;
}
.form__step__heading{
    font-size: 1em;
    line-height: 1.5;
    font-weight: 600;
    color: rgba(51,51,51,1);
    margin-bottom: 27px;
}
.formbtns{
    margin: 130px 0 0;
}
.formbtns .button.mini{
    padding: 9px 34px 12px;
}
.from__attention{
    padding: 7px 32px;
    border-radius: 6px;
    margin: 0 0 48px;
    background-color: rgba(0,119,255,.1);
}
.from__attention .icon{
    margin-right: 40px;
}
.from__attention .text{
    padding: 9px 0;
    font-size: .875em;
    line-height: 1.42;
    color: rgba(51,51,51,1);
}
.form__result{
    margin: 35px 0 0;
}
.form__result .icon{
    margin: 0 51px 0 0;
}
.form__result .text{
    font-size: .875em;
    line-height: 1.35;
    color: rgba(51,51,51,1);
}
.form__result .text p{
    margin: 0 0 13px;
    font-weight: 600;
}
.form__result .text p b{

}

/*form*/

/*Form step*/

.formsteps{
    margin: 16px -10px 0 0;
    justify-content: flex-end;
}
.formstep{
    cursor: pointer;
    margin: 0 0 42px;
}
.formstep .label{
    font-size: .625em;
    line-height: 1.4;
    color: rgba(99,114,128,.5);
}
.formstep.active .label{
    color: rgba(99,114,128,1);
}
.formstep .text{
    font-size: .75em;
    line-height: 1.33;
    padding: 0 26px 0 0;
    box-sizing: border-box;
    color: rgba(99,114,128,1);
    position: relative;
}
.formstep.active .text{
    color: rgba(51,51,51,1);
}
.formstep .text:before{
    content:"";
    position: absolute;
    display: block;
    width: 8px;
    height: 2px;
    right: 0;
    top: 7px;
    transition-duration: .15s;
    -webkit-transition-duration: .15s;
    background-color: rgba(99,114,128,1);
}
.formstep.active .text:before{
    width: 26px;
    transition-duration: .15s;
    -webkit-transition-duration: .15s;
    background-color: rgba(0,119,255,1);
}

/*Form step*/